{% extends 'base.html.twig' %}

{% block body %}
    <div class="dash">

        <div class="container dashBoardContain">
            <h1>Tableau de bord : Prestaire</h1>
            <hr>
        <div class="d-flex justify-content-left row">
        <div class="col-md-6">
        <h2>Liste des taches assignées</h2>
            <div class="p-3 bg-white">
                <div class="d-flex align-items-center">
                    <label>
                        <input type="checkbox" class="option-input radio"> 
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="checkicon" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                            </svg>
                        </input>
               
                        <span class="label-text">Task list and assignments
                        </span>
                    </label>
                </div>

                <div class="d-flex align-items-center"><label><input type="checkbox" class="option-input radio">
                <span class="label-text">Set due date and assignments</span></label></div>
                <div class="d-flex align-items-center"><label><input type="checkbox" class="option-input radio">
                <span class="label-text">Remove duplicate tasks and stories</span></label></div>
                <div class="d-flex align-items-center"><label><input type="checkbox" class="option-input radio">
                <span class="label-text">Update the userflow and stories</span></label></div>
                <div class="d-flex align-items-center"><label><input type="checkbox" class="option-input radio">
                <span class="label-text">Adjust the components</span></label></div>
            </div>
        </div>

        <div class="col-md-6">
        <h2>Liste des taches à approuver</h2>
            <div class="p-3 bg-white">
                <div class="d-flex align-items-center"><label><input type="checkbox" class="option-input radio"><span class="label-text">Task list and assignments</span></label></div>
                <div class="d-flex align-items-center"><label><input type="checkbox" class="option-input radio"><span class="label-text">Set due date and assignments</span></label></div>
                <div class="d-flex align-items-center"><label><input type="checkbox" class="option-input radio"><span class="label-text">Remove duplicate tasks and stories</span></label></div>
                <div class="d-flex align-items-center"><label><input type="checkbox" class="option-input radio"><span class="label-text">Update the userflow and stories</span></label></div>
                <div class="d-flex align-items-center"><label><input type="checkbox" class="option-input radio"><span class="label-text">Adjust the components</span></label></div>
            </div>
        </div>
    </div>
</div>
  
    </div>
{% endblock body %}