@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('../typo/BAUHS93.TTF');
@font-face {
    font-family: "Bauhaus 93";
    src: url("../typo/BAUHS93.TTF") format("ttf"),
    url("../typo/BAUHS93.TTF") format("ttf");
}



body{
    font-family: 'Space Grotesk', sans-serif !important;
}

h1 {
    margin-top: 3% !important;
    color: #6c5353;
    font-family: "Bauhaus 93", sans-serif;
}

h2{
    font-weight: 700 !important;
    font-size: 1.8rem !important;
    color: #8a916f;
}

hr{
    border-top: 5px solid #6c5353 !important;
}
.dashBoardContain{
    margin-top: 2%;
    margin-bottom: 10%;
}
.wrapper>.navbar, .navbar-expand-lg .navbar-inner {
    background: rgba(0,0,0,0);
}

.CDT {
    background-color: #6c5353 !important;
}

.intro {
    font-size: 1.5rem;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 300;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.viewport {
    position: relative;
    z-index: 2;
    font-family: 'Space Grotesk', sans-serif;
}


.navbar-light .navbar-nav .nav-link .nav-item{
    color: white;
    padding-right: 10px;
}

.active {
    font-weight: 700;
}

.navbar-expand-lg .navbar-nav .nav-link{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end !important;
}

.navbar-expand-lg{
    padding-left: 2% !important;
}

.signIn {
    background-color: #8a916f !important;
    border-color: rgba(0,0,0,0) !important;
}

.signUp {
    background-color: #6c5353 !important;
    border-color: rgba(0,0,0,0) !important;
}

.signUp2 {
    background-color: rgb(157, 120, 120) !important;
    border-color: rgba(0,0,0,0) !important;
}

.logout{
    background-color: #8a916f !important;
    border-color: rgba(0,0,0,0) !important;

}

.consult{
    background-color: rgba(108, 83, 83, 0.55) !important;
    border-color: rgba(0,0,0,0) !important;
    transition: all 0.5s ease-in-out !important;

}
.consult_presta{
    background-color: rgba(138, 145, 111, 0.66) !important;
    border-color: rgba(0,0,0,0) !important;
    transition: all 0.5s ease-in-out !important;

}

.consult_presta:hover{
    transform: scale(1.1);
    background-color: rgba(108, 83, 83, 0.55) !important;
}

.title_attr{
    color: #6c5353;
}

.consult:hover{
    transform: scale(1.1);
    background-color: rgba(138, 145, 111, 0.66) !important;
}

.discover {
    background:  linear-gradient(#6c5353, #8a916f);
    border-color: rgba(0,0,0,0) !important;
}

.dash {
    background-color: #ffffff;
}

.carte {
    padding: 1rem;

    box-shadow: 10px 10px 50px rgba(138, 145, 111, 0.59);
    border: none !important;
    border-radius: 20px!important;
}

.card-img-top {
    height: 200px;
}

.btn {
    transition: all 0.5s ease-in-out !important;
}

.btn:hover{
    transform: scale(1.1);
}

.voirTaches{
    margin-top: 3%;
    background-color: #6c5353 !important;
    border-color: rgba(0,0,0,0) !important;
}

.voirTachesCours{
    margin-top: 3%;
    background-color: #8a916f !important;
    border-color: rgba(0,0,0,0) !important;
}

.validTask{
    background-color: #78e08f !important;
    margin-top: 3%;
    border-color: rgba(0,0,0,0) !important;
}

.btn-group>.btn-group:not(:first-child), .btn-group>.btn:not(:first-child){
    margin-left: 3% !important;
}

.closeModal{
    background-color: rgba(138, 145, 111, 0.66) !important;
    border-color: rgba(0,0,0,0) !important;

}


.modal-title {
    color: #8a916f;

}

.presta{
    margin-top: 5%;
}

.phases-chantier{
    margin-top: 5%;
}

.btn-retour{
    margin: 2%;
}



.card {
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border-width: 0;
    transition: all .2s
}

.card-header {
    display: flex;
    align-items: center;
    border-bottom-width: 1px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0.625rem;
    height: 3.5rem;
    background-color: #fff
}

/*.scroll-area-sm {*/
/*    height: 288px;*/
/*    overflow-x: hidden*/
/*}*/

.widget-content .widget-content-wrapper {
    display: flex;
    flex: 1;
    position: relative;
    align-items: center
}

.widget-content .widget-content-right {
    margin-left: auto
}

.connected{
    margin-top: 5%;
}

label{
    display: block !important;
}

.descri {
    height: 200px;
}

.action-save {
    margin-top: 5%;
}

.action-saveAndAddAnother {
    margin-right : 2%;
    background-color: #8a916f !important;
    border-color: rgba(0,0,0,0) !important;

}

.connect {
    margin-top : 2%;
    background-color: #8a916f !important;
    border-color: rgba(0,0,0,0) !important;

}

.action-saveAndReturn {
    background-color: #78e08f !important;
    border-color: rgba(0,0,0,0) !important;

}

.denied-window{

}

.edit{
    background-color: #ffba50 !important;
    border-color: rgba(0,0,0,0) !important;
}

.delete{
    background-color: #ff5050 !important;
    border-color: rgba(0,0,0,0) !important;
}