{% extends 'base.html.twig' %}
{% block header %}
{% endblock %}
{% block body %}
<div class="denied-window mt-5">

    <div class="container">
        <button class="btn-retour btn btn-primary" type="button" onclick="history.go(-1)">< Retour</button>
        <div class="row">
            <div class="col-6">
                <p>Vous n'avez pas accès à cette page. Soit votre compte n'a pas été encore approuvé par l'administrateur,
                    soit vous essayez à une fonctionnalité dont vous n'avez pas les droits
                </p>
            </div>
            <div class="col-6">
                <img class="imgFloat" src="{{ asset('assets/img/constructionSite.png') }}" alt="">
            </div>
        </div>
    </div>
</div>
{% endblock body %}